:root {
    --color-primary: #814bc9;
    --color-primary--dark: #692db8;
    --color-secondary--light: #bf9deb;
    --color-secondary: #9d6eda;
    --color-accent: #edd802;
    --color-headings: #4d0fa1;
    --color-body: #918ca4;
    --color-body-darker: #5c5577;
    --color-boarder: #ccc;
  
    --border-radius: 30px;
  }

*, *::after, *::before {
    box-sizing: border-box;
}

/* Typography */
@font-face {
    font-family: SpaceFont;
    src: url(../dist/space-font.ttf);
}
@font-face {
    font-family: SpaceMono;
    src: url(../dist/SpaceMono-Regular.ttf);
}
@font-face {
    font-family: SpaceCapsule;
    src: url(../dist/capsule-space-font.ttf);
}

html {
    font-size: 62.5%;
}

body {
    color: var(--color-body);
    font-family: SpaceMono, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    padding: 0; 
    margin: 0;  
  }

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
    font-size: 8.5vw;
    padding-left: 3vw;
    text-align: start;
    font-family: SpaceFont, Arial, Helvetica, sans-serif;
    text-shadow:    1px 1px 1px #919191,
                    1px 2px 1px #919191,
                    1px 3px 1px #919191,
                    1px 4px 1px #919191,
                    1px 5px 1px #919191,
                    1px 6px 1px #919191,
                    1px 18px 6px rgba(16,16,16,0.4),
                    1px 22px 10px rgba(16,16,16,0.2),
                    1px 25px 35px rgba(16,16,16,0.2),
                    1px 30px 60px rgba(16,16,16,0.4);

}
  
h2 {
    font-size: 5rem;
    text-shadow: 2px 4px 3px rgb(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
}

h3 {
    font-size: 3rem;
}

P {
    margin: 0;
    font-size: 1.3rem;
    color: black;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 3.5vw;

    background: 50% 100% / 50% 50% no-repeat
    radial-gradient(ellipse at bottom, #fff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: #fff;
    animation: reveal 3000ms ease-in-out 200ms,
               glow 2500ms linear 2000ms,
               still 3500ms linear forwards 2000ms;
      
    }
  @keyframes reveal {
    80%{letter-spacing: 8px;}
    100% {background-size: 300% 300%;}
  }
  @keyframes glow {
    40% {text-shadow: 0 0 8px #fff;}
  }
  @keyframes still {
    100% {color: var(--color-headings);}
  }

  h2 {
    font-size: 10rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  p {
    font-size: 2rem;
  }
}

/* Buttons */
.btn {
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
    outline: none;
    padding: 2rem 3rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
  }
  
.btn .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}

.btn--primary {
background-color: var(--color-headings);
color: #fff;
}
.btn--primary:hover {
background-color: var(--color-primary--dark);
color: #fff;
}

.btn--secondary {
background-color: var(--color-secondary);
color: #fff;
}
.btn--secondary:hover {
background-color: var(--color-secondary--light);
color: #fff;
}

.btn--accent {
background-color: var(--color-accent);
color: #fff;
}
.btn--accent:hover {
background-color: orange;
color: #fff;
}

/* Inputs */
.input {
    padding: 1.5rem 3.5rem;
    border: solid 1px var(--color-boarder);
    border-radius: var(--border-radius);
    outline: none;
    color: var(--color-headings);
    font-size: 2rem;
  }

  .input-group {
    border: 1px solid var(--color-boarder);
    border-radius: var(--border-radius);
    display: flex;
  }
  
  .input-group .input {
    border: 0;
    flex-grow: 1;
    padding: 1.5rem 2rem;
  }
  
  .input-group .btn {
    margin: 4px;
  }
  
  @media screen and (min-width: 1024px) {
    .input {
      font-size: 1.5rem;
    }
  }

/* Grids */
.grid {
  display: grid
}
@media screen and (min-width: 768px) { 
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) { 
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid--2x2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  .grid--2x6 {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}

/* Card */
.card {
  border-radius: 7px;
  box-shadow: 0px 5px 25px 5px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: transform 300ms, box-shadow 300ms;
  z-index: 1;
}
.card:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 55px 5px rgba(0, 0, 0, 0.25);
}

.card__header, .card__body {
  padding: 1rem 2rem;
}

.card--primary .card__header {
  background-color: var(--color-primary);
  color: #fff;
}
.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: #fff;
}

/* Banner */
.banner {
  display: block;
  position: relative;
  z-index: 1;
  margin: 3vw auto -7vw;
  max-width: 90%;
  height: auto;
  border-radius: 25px;
}

@media screen and (min-width: 768px) { 
  .banner {
    margin: 0 auto 5vw;
  }
}

/* collapsibles */
.collapsible__header {
  display: flex; 
  justify-content: space-between;
 }
 
 .collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
 }
 
 .collapsible__content {
   max-height: 0;
   overflow: hidden;
   opacity: 0;
   transition: all 0.3s;
 }
 
 .collapsible--expanded .collapsible__content {
   max-height: 100vh;
   opacity: 1;
 }

/* Navigation Bar */
.nav {
  width: 100vw;
  background: rgba(0,0,0, 1);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem  2rem;
  border-bottom: solid 1px #222;
}

.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #fff;
}

.nav__toggler {
  right: 3vw;
  top: 1vw;
  opacity: 0.5;
  fill: #fff;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #667;
  border-radius: 5px;
}

.nav__logo {
  transform: translateY(-1.5vw);
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.3vw;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border: 0;
    background-color: black;
  }
}

/* Lists */
.list {
  color: var(--color-headings);
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

/* Icons */
.icon {
  width: 5vw;
  height: 5vw;
  position: relative;
}

.icon::before {
  content: "";
  width: 50vw;
  height: 50vw;
  top: -50px;
  position: absolute;
  background: rgba(0, 0, 0, 0.9);
}

/* Section */
.section__image {
  width: 100%;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .section__image {
    width: 100%;
    position: absolute;
  }
}

@media screen and (min-width: 1024px) {
  .section__container {
    max-width: 1200px;
  }
}

/* Hero */
.hero {
  padding: 0;
  padding-top: 3.5vw;
  height: 95vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__nav {
  position: absolute;
  display: flex;
  height: 9vw;
  top: 0vw;
  padding-left: 5vw;
  padding-right: 0;
}

.logo__image {
  position: absolute;
  width: 7vw;
}

.hero__image {
  width: 130vh;
  top: 0;
  left: -45vh;
  z-index: -1;
  clip-path: circle(73% at 30% 1%);
  -webkit-transform: scaleX(-1) translate(-4vw, 8vw);
  transform: scaleX(-1) translate(-4vw, 8vw);
}

.hero .nav__list {
  width: 103%;
  margin-top: 4vw;
  margin-left: -4vw;
  background: black;
  padding-bottom: 2vw;
}

.hero>h2 {
  margin-top: 5vh;
}


@media screen and (min-width: 768px) {
  .hero {
      padding-top: 10vw;
      height: 50vw;
      margin-top: -3vw;
  }

  .hero>h2 {
    margin-top: 0;
  }

  .logo__image {
    position: absolute;
    width: 3.5vw;
    right: 92vw;
    top: 1.75vw;
  }

  .hero__nav {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    height: 4vw;
    top: -3vw;
    padding-left: 5vw;

    animation-name: nav;
    animation-delay: 3000ms;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }

  @keyframes nav {
    0% {top: -3vw;}
    100% {top: 3vw;}
  }

  .hero .nav__list {
    margin: 0;
    padding: 1vw;
    justify-content: flex-end;
  }
    
  .hero__image {
      width: 100%;
      left: 0;
      clip-path: circle(0% at 0 0);
      -webkit-transform: scaleX(-1) translate(-6vw, 0vw);
      transform: scaleX(-1) translate(-6vw, 3vw);

      animation-name: hero-image;
      animation-delay: 1500ms;
      animation-duration: 2000ms;
      animation-fill-mode: forwards;
      animation-timing-function: ease-out;
  }

  @keyframes hero-image {
    0% {clip-path: circle(7% at 0 0);}
    100% {clip-path: circle(95% at 0 0);}
  }
}

/* Address Input */
.hero .input-group {
    margin-top: 62vh;
    width: 85vw;
    height: 8vw;
    border: 0;
    background-color: rgba(16,16,16,0.2);
    align-self: end;
    position: relative;
    margin-left: 8vw;
}

.hero .input {
    background-color: rgba(0,0,0,0);
    font-size: 2.8vw;
}

.nodeAddress .input::selection {
    outline-width: 0;
}

.nodeAddress .btn {
    opacity: .8;
    margin: 0;
    margin-left: 1vw;
    font-size: 2.5vw;
    padding: 2vw 3vw;
}
.nodeAddress .btn:active {
    background-color: black;
}

.nodeAddress::before {
    content: "Lease To:";
    width: 50vw;
    font-size: 5vw;
    font-family: SpaceCapsule, Arial, Helvetica, sans-serif;;
    top: -6vw;
    left: 1vw;
    position: absolute;
    color: var(--color-primary--dark)
}

@media screen and (min-width: 768px) {
  .hero .input-group {
    margin-top: 13vw;
    width: 33vw;
    height: 4vw;
    border: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    align-self: center;
    margin-right: -5vw;
    margin-left: 0;

    opacity: 0;
  
    animation-name: lease;
    animation-delay: 4500ms;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }

  @keyframes lease {
    0% {opacity: 0;}
    100% {opacity: 100;}
  }

  

  .hero .input {
      background-color: rgba(0,0,0,0);
      padding: 1vw;
      font-size: 1.1vw;
      color: var(--color-secondary--light);
      color:#fff;
  }

  .nodeAddress .input::selection {
      outline-width: 0;
  }

  .nodeAddress .btn {
      opacity: .8;
      margin: 0;
      font-size: 1.5vw;
      padding: 0.2vw 2vw;
      border-radius: 0 29px 29px 0;
  }
  .nodeAddress .btn:active {
      background-color: black;
  }

  .nodeAddress::before {
    content: "Lease To: ";
    width: 28vw;
    font-size: 3.5vw;
    top: -4.5vw;
    left: 2vw;
    position: absolute;
    color: var(--color-headings);
    text-shadow:  -1px .2vw 1px black,
                  1px 2px 0.35vw white,
                  1px 18px 6px rgba(16,16,16,0.4),
                  1px 22px 10px rgba(16,16,16,0.2),
                  1px 25px 35px rgba(16,16,16,0.2),
                  1px 30px 60px rgba(16,16,16,0.4);
  }
}

/* Tagline */
.tagline {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(77, 77, 77, .5)
}

.tagline>h2 {
  margin: 0;
  padding: 1vw;
  font-size: 2vw;
}

/* Stars */
section.space {
  position: relative;
  overflow: hidden;
  background-color: black;
  clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
  padding: 5vw 0;
}

.space h2 {
  text-shadow: 2px 3px 3px rgb(160, 160, 160, 0.3);
}

.space .card {
  background-color: black;
  box-shadow: 0px 0px 20px -1px rgba(255, 255, 255, 0.25);
}

section.space.top {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 60% 98%, 0% 100%);
  padding-bottom: 10vw;
  margin-bottom: 5vw;
}

section.space.bottom {
  clip-path: polygon(0 0%, 40% 1%, 100% 0%, 100% 100%, 0% 100%);
  margin-top: 5vw;
}

section.space.top.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vw 0;
}

section.space.top::after {
  content: '';
  display: block;
  background: linear-gradient(0deg, rgba(176,212,255, 1), rgba(157,110,218, 1));
  clip-path: polygon(100% 0%, 61% 40%, 100% 95%);
  position: absolute;
  width: 100%;
  height: 3.5%;
  top: 96.5%;
}

section.space.bottom::before {
  content: '';
  display: block;
  background: linear-gradient(180deg, rgba(157,110,218, 1), rgba(176,212,255, 1));
  clip-path: polygon(0% 2%, 39.4% 32%, 0% 50%);
  position: absolute;
  width: 100%;
  height: 3.3%;
  top: 0%;
  z-index: 1;
}

section.space.top.bottom::after {
  content: '';
  display: block;
  background: linear-gradient(0deg, rgba(176,212,255, 1), rgba(157,110,218, 1));
  clip-path: polygon(100% 0%, 60.5% 36%, 100% 97%);
  position: absolute;
  width: 100%;
  height: 6.5%;
  top: 93.5%;
}

section.space.top.bottom::before {
  content: '';
  display: block;
  background: linear-gradient(180deg, rgba(157,110,218, 1), rgba(176,212,255, 1));
  clip-path: polygon(0% 2%, 39.5% 62%, 0% 97%);
  position: absolute;
  width: 100%;
  height: 6.5%;
  top: 0%;
  z-index: 1;
}

section.space.top.bottom {
  clip-path: polygon(0 0%, 40% 4%, 100% 0%, 100% 100%, 60% 96%, 0% 100%);
}

@media screen and (min-width: 768px) {
  section.space.top {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 60% 96%, 0% 100%);
  }

  section.space.top::after {
    content: '';
    display: block;
    background: linear-gradient(0deg, rgba(176,212,255, 1), rgba(157,110,218, 1));
    clip-path: polygon(100% 0%, 60.5% 36%, 100% 97%);
    position: absolute;
    width: 100%;
    height: 6.5%;
    top: 93.5%;
  }
  
  section.space.bottom {
    clip-path: polygon(0 0%, 40% 2%, 100% 0%, 100% 100%, 0% 100%);
  }
  
  section.space.bottom::before {
    content: '';
    display: block;
    background: linear-gradient(180deg, rgba(157,110,218, 1), rgba(176,212,255, 1));
    clip-path: polygon(0% 2%, 39.5% 32%, 0% 50%);
    position: absolute;
    width: 100%;
    height: 6.5%;
    top: 0%;
    z-index: 1;
  }

  section.space.top.bottom::before {
    content: '';
    display: block;
    background: linear-gradient(180deg, rgba(157,110,218, 1), rgba(176,212,255, 1));
    clip-path: polygon(0% 2%, 39.5% 62%, 0% 97%);
    position: absolute;
    width: 100%;
    height: 6.5%;
    top: 0%;
    z-index: 1;
  }

  section.space.top.bottom {
    clip-path: polygon(0 0%, 40% 4%, 100% 0%, 100% 100%, 60% 96%, 0% 100%);
  }
}

@media screen and (min-width: 1024px) {
  section.space.top {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 60% 94%, 0% 100%);
  }

  section.space.top::after, section.space.top.bottom::after  {
    content: '';
    display: block;
    background: linear-gradient(0deg, rgba(176,212,255, 1), rgba(157,110,218, 1));
    clip-path: polygon(100% 0%, 60.5% 39%, 100% 98%);
    position: absolute;
    width: 100%;
    height: 10%;
    top: 90%;
  }
  
  section.space.bottom {
    clip-path: polygon(0 0%, 40% 6%, 100% 0%, 100% 100%, 0% 100%);
  }

  section.space.bottom::before, section.space.top.bottom::before {
    content: '';
    display: block;
    background: linear-gradient(180deg, rgba(157,110,218, 1), rgba(176,212,255, 1));
    clip-path: polygon(0% 2%, 39.5% 61%, 0% 98%);
    position: absolute;
    width: 100%;
    height: 10%;
    top: 0%;
    z-index: 1;
  }

  section.space.top.bottom {
    clip-path: polygon(0 0%, 40% 6%, 100% 0%, 100% 100%, 60% 94%, 0% 100%);
  }
}

/* Rates */
.rates {
  background-color: black;
}

.rates .rates__header {
  text-align: center;
  padding-bottom: 1vw;
}

.rates__vip .card__header {
  display: flex;
  align-items: center;
}

.rates .card {
  margin: 6vw 4vw;
}

.rates .card__header {
  font-size: 2rem;
}

.rates__text {
  padding: 2vw;
  margin: 0 2vw;
  color: var(--color-body);
}

.rates::before {
  content: '';
  display: block;
  background: linear-gradient(0deg, rgba(176,212,255, 1), rgba(157,110,218, 1));
  position: absolute;
  width: 100%;
  height: 15%;
  top: 0%;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  z-index: 1;
}

@media screen and (min-width: 768px) { 
  .rates .rates__header>h2 {
    padding-top: 0vw;
    margin-top: -2vw;
  }

  .rates__text {
    padding: 1vw;
    margin: 0;
  }

  .rates .card {
    margin: 3vw 12vw;
  }

  .rates__info {
    grid-template-columns: 1fr
  }

  .rates::before {
    height: 20%;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
  }
}

@media screen and (min-width: 1024px) {
  .rates {
    display: flex;
    justify-content: center;
  }

  .rates .card {
    margin: 2vw;
    font-size: 2rem;
  }

  .rates__info {
    grid-template-columns: 1fr 1fr
  }

  .rates__vip {
    grid-column-start: span 2;
    display: flex;
  }

  .rates::before {
    height: 25%;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
  }
}

/* Stats */
.chart {
  max-width: 80%;
}

.stats .graph__container {
  display: flex;
  justify-content: center;
  margin-left: -5vw;
}

.stats .stats__header {
  text-align: center;
  padding-bottom: 1vw;
}

.stats .card {
  margin: 3vw;
}

.stats .card__header {
  font-size: 2rem;
}

.stats__text {
  padding: 2vw;
  margin: 0 2vw;
}

.stats__total {
  text-decoration: underline;
}

.graph {
  width: 90%;
}

@media screen and (min-width: 768px) { 
  .chart {
    max-width: 100%;
  }

  .graph__container {
    margin-left: 0vw;
  }

  .stats .card {
    margin: 3vw 12vw;
    font-size: 2rem;
  }
  .stats .card__header {
    font-size: 2.3rem;
  }

  .stats__text {
    padding: 1vw;
    margin: 0;
  }

  .graph {
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  .graph {
    width: 100%;
  }

  .stats .graph__container {
    display: flex;
    justify-content: center;
    margin-right: -5vw;
  }

  .stats {
    display: flex;
    justify-content: center;
  }

  .stats .card {
    margin: 2vw;
    font-size: 2rem;
  }

  .stats .grid--2x6 {
    justify-content: center;
    align-items: center;
  }
  
  .stats__LTO-graph {
    grid-column: 1 / 4;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
  }

  .stats__block-graph {
    grid-column: 4 / 7;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
  }

  .stats__info-A {
    grid-column: 1 / 3;
    grid-row: 2 / 2;
  }
  .stats__info-B {
    grid-column: 3 / 5;
    grid-row: 2 / 2;
  }
  .stats__info-C {
    grid-column: 5 / 7;
    grid-row: 2 / 2;
  }
}

/* LTOPrice */
.lto-price {
  position: relative;
  height: 60vw;
  max-height: 800px;
  margin-top: 5vw;
}

.eclipse {
  position: relative;
  max-width: 750px;
  max-height: 750px;
  width: 55vw;
  height: 55vw;
  z-index: 1;
}

/* Security */
.security {
  display: flex;
  justify-content: center;
}

.security .graph__container {
  display: flex;
  justify-content: center;
}

.security .security__header {
  text-align: center;
  padding-bottom: 1vw;
}

.security .card {
  margin: 3vw;
}

.security .card__header {
  font-size: 2rem;
}

.security__text {
  padding: 2vw;
  margin: 0 2vw;
}

@media screen and (min-width: 768px) { 
  .security .card {
    margin: 3vw 12vw;
  }

  .security__text {
    padding: 1vw;
    margin: 0;
  }
}

@media screen and (min-width: 1024px) { 
  .security .card {
    margin: 2vw;
  }
}

/* About */
.about {
  display: flex;
  justify-content: center;
  background-color: black;
}

.about .card {
  margin: 2vw 2vw;
  background-color: rgba(255, 255, 255, 0.9);
}
.about .card:hover {
  transform: none;
}

.about__header {
  text-align: center;
  padding-bottom: 1vw;
}

.mission {
  padding: 3vw;
  text-align: left;
  text-indent: 2rem;
}

.mission>p {
  color: var(--color-body);
  padding: 0 1vw;
}

.member {
  padding: 2vw 0;
}

.about__member-name {
  margin: 0;
  font-size: 2.2rem;
  text-decoration: underline;
}

.about__member-img {
  width: 45%;
  height: 45%;
  padding: 3vw;
}

.about__member-info {
  color: var(--color-headings);
  padding: 3vw;
}

.about__member-name {
  text-align: center;
}

.about__member {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__left .about__member {
  flex-direction: column-reverse;
}

@media screen and (min-width: 768px) {
  .mission {
    text-indent: 5rem;
    padding: 0 5vw;
  }
  
  .about__member-name {
    margin: 0;
    text-align: right;
    padding: 0 3vw;
  }
  
  .about__left .about__member-name {
    margin: 0;
    text-align: left;
  }
  
  .about__member-img {
    width: 35%;
    height: 35%;
    padding: 1vw;
  }
  
  .about__member-info {
    padding: 1vw;
    font-size: 1.7rem;
  }
  
  .about__member {
    flex-direction: row;
    align-items: flex-start;
  }

  .about__left .about__member {
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .about {
    display: flex;
    justify-content: center;
  }

  .about .card {
    margin: 1vw;
    font-size: 2rem;
  }

  .about__member-info {
    padding: 1vw 1vw 0;
    font-size: 1.2rem;
  }
}

/* Social */
.social {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social h2 {
  font-size: 5vw;
  margin: 0 2vw;
  text-shadow:    1px 1px 1px #919191,
                  1px 2px 1px #919191,
                  1px 18px 6px rgba(16,16,16,0.4),
                  1px 22px 10px rgba(16,16,16,0.2),
                  1px 25px 35px rgba(16,16,16,0.2),
                  1px 30px 60px rgba(16,16,16,0.4);
}

.social .social__media {
  display: flex;
  width: 100vw;
  height: 6.5vw;
  background: rgba(0, 0, 0, 0.8);
  justify-content: flex-end;
}

.social .list {
  margin-top: -2vw;
}

.section__image.social__image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (min-width: 786px) {
  .social .social__media {
    height: 5.5vw;
  }

  .social .list {
    margin-top: .25vw;
  }
}